.instruction-modal-dialog {
    width: 90% !important;
    max-width: 700px !important;
    margin: 32px auto !important; /* my-8 эквивалентно 32px */
}

.instruction-modal-content {
    max-height: 90vh !important;
    overflow-y: auto !important;
}

@media (max-width: 640px) {
    .instruction-modal-dialog {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        min-height: 100vh !important;
    }

    .instruction-modal-content {
        max-height: 100vh !important;
        border-radius: 0 !important;
    }
}